<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expedition</title>
    <link rel="stylesheet" href="css/expedition.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="title">
                <h1>Экспедиция Иднакар (2022)</h1>
            </div>
            <div class="buttons_1">
                <div class="button_1">
                    <p>Фотоархив</p>
                </div>
                <div class="button_1">
                    <p>Интерактивная карта</p>
                </div>
                <div class="button_1">
                    <p>Команда</p>
                </div>
            </div>
            <div class="buttons_2">
                <div class="button_2">
                    <p>Мероприятия</p>
                </div>
                <div class="button_2">
                    <p>Результаты экспедиции</p>
                </div>
            </div>
            <div class="exp_info">
                <div class="exp_title">
                    <p>О проекте</p>
                </div>
                <div class="exp_text">
                    <p>Планируемые даты экспедиции – 7-19 июля 2023.
                        Партнер экспедиции - ГБНУ «Всероссийский институт лекарственных и ароматических растений» (ВИЛАР).
                        Научный руководитель экспедиции - Скрыпицына Т.Н., доцент кафедры фотограмметрии МИИГАиК.
                        Куратор от ВИЛАР - ст.научный сотрудника Фадеев Н.Б.
                        Целью экспедиции является апробация и внедрение в практику метода оценки биопродуктивности природных участков, содержащих лекарственные растения, на основе данных дистанционного зондирования Земли (ДЗЗ) с использованием БВС.
                        Методика разработана на кафедре фотограмметрии МИИГАиК совместно ФГБНУ «Всероссийский институт лекарственных и ароматических растений» (ВИЛАР) и апробирована в условиях Заокского полигона МИИГАиК. Пришло время применить ее на практике «в поле» для решения конкретной задачи.
                        Определение запасов лекарственных растений и создание карты их распределения имеет практическое значение для природоохранных организаций, местных заготовительных и производственных организаций и важно с научной точки зрения для дальнейшей разработки метода изучения природных растительных сообществ на основе данных ДЗЗ с помощью БВС съемки.
                        Задачи экспедиции:
                        Проведение аэрофотогеодезических работ с помощью БВС и полевых ботанических исследований лекарственных растений на 5 ключевых участках близ Кирова;
                        Построение высокодетальных ортофотопланов и стереомоделей ключевых участков по результатам БВС съемок;
                        Оценка биопродуктивности тестовых участков на основе применения традиционных полевых методов и методов ДЗЗ;
                        Создание актуальных карт и баз данных запасов лекарственных растений;
                        Апробация на практике инновационного метода поиска и мониторинга запасов лекарственных растений на основе данных дистанционного зондирования с использованием БВС съемок.
                        "Вишенка на торте" – создание коллекции ботанических рисунков и картин на основе гербария лекарственных трав региона.
                        В экспедиции примут участие не только студенты МИИГАиК, но и студенты Тимирязевской академии.
                        Вятский край не случайно выбран местом нашей экспедиции. Сбор лекарственных растений, грибов и ягод — традиционный, социально и экономически значимый вид деятельности для населения Кировской области. Многие фармкомпании России используют сырье данного региона как экологически чистое и обладающее высокими лечебными характеристиками.
                        Для студентов МИИГАиК Вятский край имеет особенное значение. Это – малая родина президента МИИГАиК Виктора Петровича Савиных – советского космонавта, учёного, профессора, академика РАН, дважды Героя Советского Союза, лауреата Государственных премий СССР и Российской Федерации.</p>
                </div>
            </div>
            <div class="photo">
                <img src="img/exp1.png" alt="exp">
                <img src="img/exp2.png" alt="exp">
                <img src="img/exp3.png" alt="exp">
                <img src="img/exp4.png" alt="exp">
            </div>
            <div class="video">
                <iframe class="iframe_video" src="https://www.youtube.com/embed/ivbCA2qMQGY?si=NP_Xg4qYtK0c6BGa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="partners">
                <div class="partner_title">
                    <h1>Партнёры экспедиции:</h1>
                </div>
                <div class="navigation">
                    <div class="partners_navigation">
                        <button class="patners_btn patners_btn_prev">
                            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M36.0934 40L52.5934 56.5L47.8801 61.2134L26.6667 40L47.8801 18.7867L52.5934 23.5034L36.0934 40.0034V40Z" fill="#1C1C1C"/>
                            </svg>       
                        </button>
                        <button class="patners_btn patners_btn_next">
                            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M43.9068 40L27.4068 23.5L32.1202 18.7866L53.3335 40L32.1202 61.2133L27.4068 56.4966L43.9068 39.9966V40Z" fill="#1C1C1C"/>
                            </svg>   
                        </button>
                    </div>
                </div>
                <div class="swiper partners-slider">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img src="img/partner2.png" alt="partner" class="partner">
                      </div>
                      <div class="swiper-slide">
                        <img src="img/partner2.png" alt="partner" class="partner">
                      </div>
                      <div class="swiper-slide">
                        <img src="img/partner2.png" alt="partner" class="partner">
                      </div>
                      <div class="swiper-slide">
                        <img src="img/partner2.png" alt="partner" class="partner">
                      </div>
                      <div class="swiper-slide">
                        <img src="img/partner2.png" alt="partner" class="partner">
                      </div>
                      <div class="swiper-slide">
                        <img src="img/partner2.png" alt="partner" class="partner">
                      </div>
                      <div class="swiper-slide">
                        <img src="img/partner2.png" alt="partner" class="partner">
                      </div>
                      <div class="swiper-slide">
                        <img src="img/partner2.png" alt="partner" class="partner">
                      </div>
                      <div class="swiper-slide">
                        <img src="img/partner2.png" alt="partner" class="partner">
                      </div>
                    </div>     
                </div>
            </div>            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="js/expedition.js"></script>
</body>
</html>