<!doctype html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=PT+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.min.css' %}">
    <script src="{% static 'js/lightbox-plus-jquery.min.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    {% block style1 %}{% endblock %}
    {% block style2 %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header_blue">
                <div class="container">
                    <div class="header_blue_items">
                        <div class="header_logo_1">
                            <img src="{% static 'images/logo.png' %}" alt="gggg">
                        </div>
                        <div class="header_right">
                            <div class="header_icons">
                                    <a href="#">
                                        <img src="{% static 'images/vk.png' %}" alt="gggg">
                                    </a>
                                    <a href="#">
                                       <img src="{% static 'images/tg.png' %}" alt="gggg">
                                    </a>
                            </div>
                            <form class="search-wrapper">
                                <input class="search" type="text">
                                <button class="search_btn" ><img class="lupa" src="{% static 'images/search.png' %}" alt=""></button>
                            </form>
                            <div class="burger">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
                <div class="header_white_1">
                    <div class="container">
                        <div class="header_white_items">

                            <div class="header_white_logo">
                                <img class="logo_white_1" src="{% static 'images/logo2.png' %}" alt="gggg">
                            </div>
                             <img class="logo_sdk" src="{% static 'images/logo_sdk.png' %}" alt="fff">
                            <div class="header_white_right">
                                <p class="head_white_text">Экспедиции Студенческого научного-образовательного центра</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header_white_2">
                    <div class="container">
                        <div class="header_white_menu">
                            <nav class="nav">
                                <ul class="ul_1">
                                    <a href="{% url 'home' %}">На главную</a>
                                </ul>
                                <ul>
                                    <a href="{% url 'news' %}">Новости</a>
                                </ul>
                                <ul>
                                    <a href="{% url 'publication' %}">Публикации</a>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
        </header>
        <div class="content_box">
            <div class="container container-1">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <footer>
        <div class="footer_black">
            <div class="container">
                <div class="footer_black_items">
                    <div class="footer_black_column_1">
                        <p>Разработано Московским государственным университетом геодезии и картографии (МИИГАиК)</p>
                        <p class="footer_black_column_1_p">© Все права защищены</p>
                    </div>
                    <div class="footer_black_column_2">
                        <h3 class="footer_h3">Контакты</h3>
                        <p>Адрес: Москва, Гороховский пер., 4, кампус МИИГАиК, 6 корпус, 5 подъезд, 1 этаж</p>
                        <p>Email: srdc@miigaik.ru</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        document.querySelector('.burger').addEventListener('click', function() {
            this.classList.toggle('active');
            document.querySelector('.nav').classList.toggle('open');
        })
    </script>
    {% block js1 %}{% endblock %}
</body>
</html>