{% extends 'main/layout.html' %}
{% load static %}
{% block style1 %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock %}
{% block content %}
<div class="container-1">
    <div class="content">
        <div class="title">
            <h1>Новости</h1>
        </div>
        {% for el in news %}
            <div class="news_item">
                    <div class="photo">
                        <a href="{{ el.news_slug }}">
                            <img src="{{ el.photo.url }}" alt="team">
                        </a>
                    </div>
                    <div class="info">
                        <a href="{{ el.news_slug }}">
                            <h2>{{ el.name }}</h2>
                        </a>
                        <p>{{ el.text }}</p>
                    </div>

            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
</html>