{% extends 'main/layout.html' %}
{% load static %}
{% block style1 %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock %}
{% block content %}
<div class="container-1">
    <div class="content">
        <div class="title">
            <h1>Новости</h1>
        </div>
        <div class="news_item">
            <div class="photo">
                <img src="{% static 'images/news.png' %}" alt="team">
            </div>
            <div class="info">
                <h2>«Science Slam МИИГАиК – 2023»</h2>
                <p>7 декабря в 16:00, Terra Progressum (6 корпус, 4 подъезд, 1 этаж, 115 кабинет)</p>
            </div>
        </div>
        <div class="news_item">
            <div class="photo">
                <img src="{% static 'images/news.png' %}" alt="team">
            </div>
            <div class="info">
                <h2>«Science Slam МИИГАиК – 2023»</h2>
                <p>7 декабря в 16:00, Terra Progressum (6 корпус, 4 подъезд, 1 этаж, 115 кабинет)</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
</html>