{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Фотоархив{% endblock %}
{% block style1 %}
<link rel="stylesheet" href="{% static 'css/photo.css' %}">
{% endblock %}
{% block content %}


<div class="container-1">
    <h3 class="text-publications">Фотоархив:</h3>
    <p class="text-publications-day">День 1:</p>
    <div class="img-container">
        {% for el in archive %}
            <div class="img">
                <img src="{{ el.images.url }}" >
            </div>
        {% endfor %}
    <div class="pop-up">
        <span>&times;</span>
        <img src="{% static 'images/photo.jpg' %}" alt="gggg">
    </div>

</div>



<script>
    document.querySelectorAll('.img-container img').forEach(img =>{
            img.onclick = () => {
                document.querySelector('.pop-up').style.display = 'block';
                document.querySelector('.pop-up img').src = img.getAttribute('src');
            }
        });

        document.querySelector('.pop-up span').onclick = () => {
            document.querySelector('.pop-up').style.display = 'none';
        }
</script>
{% endblock %}