{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Фотоархив{% endblock %}
{% block style1 %}
<link rel="stylesheet" href="{% static 'css/photo.css' %}">
{% endblock %}
{% block content %}


<div class="container-1">
    <h3 class="text-publications">Фотоархив:</h3>
    <div class="gallery">
        {% for el in archive %}
            <div class="img">
               <a href="{{ el.images.url }}" data-lightbox='mygallery' data-title="Солнечное затмение" font-szixe:40px><img src="{{ el.images.url }}"></a>
            </div>
        {% endfor %}

    </div>
</div>

{% endblock %}
