{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Публикации{% endblock %}
{% block style1 %}
<link rel="stylesheet" href="{% static 'main/css/publication.css' %}">
{% endblock %}
{% block content %}
<div class="container-1">
    <h3 class="text-publications">Публикации в статьях и журналах:</h3>
    <div class="container-1">
        <a href="#" ><button class="custom-button">Перейти на сайт</button></a>
        <a href="#" ><button class="custom-button">Перейти на сайт</button></a>
        <a href="#" ><button class="custom-button">Перейти на сайт</button></a>
        <a href="#" ><button class="custom-button">Перейти на сайт</button></a>
        <a href="#" ><button class="custom-button">Перейти на сайт</button></a>
    </div>
</div>
{% endblock %}