{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Поиск{% endblock %}
{% block style1 %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}
{% block content %}
<div class="search_page">
    <div class="container-2">
        <h3 class="text-search">Поиск</h3>
        <div class="expeditions_now">
                        <div class="expedition_items">
                            {% for el in object_list %}
                                    <a href="../{{ el.article_slug }}">
                                        <div class="expedition_item">
                                            <img src="{{ el.photo_main_page.url }}">
                                            <div class="expedition_info">
                                                <p>{{ el.name }}</p>
                                                <p>{{ el.name_long }}</p>
                                            </div>
                                        </div>
                                    </a>
                            {% endfor %}
                        </div>
                      </div>
    </div>

</div>
{% endblock %}