{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Новость{% endblock %}
{% block style1 %}
<link rel="stylesheet" href="{% static 'main/css/separate_news.css' %}">
{% endblock %}
{% block content %}
<h3 class="text-news">«Science Slam МИИГАиК – 2023»</h3>
<div class="container-1">
    <div class="news_img">
        <img class="news_img1" src="{% static 'main/images/separate_news_img.png' %}" alt="gggg">
    </div>
    <p class="text_news">
                Уже совсем скоро, 7 декабря в 16:00 мы приглашаем Вас посетить «Science Slam МИИГАиК – 2023» и провести незабываемый вечер в компании научных исследований в области наук о Земле. Это не просто масштабное мероприятие, это одно из самых ярких событий, организуемое совместно со СНОц и ЦК НТИ МИИГАиК.
        Место проведения: Terra Progressum (6 корпус, 4 подъезд, 1 этаж, 115 кабинет).
        Регистрация на мероприятие обязательна для всех участников, слушателей или волонтёров:https://forms.yandex.ru/u/655c5907c417f32a2a64d153/
        По всем вопросам обращайтесь к председателю Студенческого научного общества МИИГАиК Валерию Щербакову или в группу СНОц МИИГАиК. Мы обеспечим вас всей необходимой информацией!
        Science Slam – это набирающий популярность по всему миру формат научных боев среди молодых ученых, отличительной чертой которого является презентация спикерами своих исследований с толикой юмора в неформальной атмосфере концертного зала или бара.
        До скорой встречи!
    </p>
</div>

{% endblock %}