{% extends 'main/layout.html' %}
{% load static %}
{% block style1 %}
<link rel="stylesheet" href="{% static 'css/team.css' %}">
{% endblock %}
{% block content %}
<div class="container-1">
    <div class="content">
        <div class="title">
            <h1>Команда проекта:</h1>
        </div>
        <div class="team_item">
            <div class="photo">
                <img src="{% static 'images/team.png' %}" alt="team">
            </div>
            <div class="info">
                <h2>МАЛИННИКОВ Василий Александрович</h2>
                <p>Научный руководитель проекта</p>
                <p>Доктор наук, профессор, зав.кафедрой космического мониторинга и экологии, заслуженный работник высшей школы Российской федерации, автор более 150 научных публикаций</p>
            </div>
        </div>
        <div class="team_item">
            <div class="photo">
                <img src="{% static 'images/team.png' %}" alt="team">
            </div>
            <div class="info">
                <h2>МАЛИННИКОВ Василий Александрович</h2>
                <p>Научный руководитель проекта</p>
                <p>Доктор наук, профессор, зав.кафедрой космического мониторинга и экологии, заслуженный работник высшей школы Российской федерации, автор более 150 научных публикаций</p>
            </div>
        </div>
        <div class="team_other">
            <h2>Аспиранты</h2>
            <p>МИТРОФАНОВА Анастасия (кафедра космического мониторинга и экологии, научный руководитель Беленко В.В.)</p>
            <p>НГУЕН Доан (кафедра космического мониторинга и экологии, научный руководитель Малинников В.А.)</p>
            <p>РАНГ Тиен (кафедра космического мониторинга и экологии, научный руководитель Малинников В.А.)</p>
        </div>
        <div class="team_other">
            <h2>Магистранты</h2>
            <p>АНДРЕЕВ Алексей (кафедра космического мониторинга и экологии, научный руководитель Малинников В.А.)</p>
            <p>БОРОНИН Роман (кафедра космического мониторинга и экологии, научный руководитель Малинников В.А.)</p>
            <p>ПАВЛОВ Константин (кафедра космического мониторинга и экологии, научный руководитель Беленко В.В.)</p>
            <p>ЮГАНОВА Жанна (кафедра космического мониторинга и экологии, научный руководитель Беленко В.В.)</p>
        </div>
        <div class="team_other">
            <h2>Бакалавры</h2>
            <p>БОЧКАРЕВ Вячеслав (картографический факультет, научный руководитель Загребин Г.И.)</p>
            <p>ГИЛЯЗЕВА Арина (кафедра космического мониторинга и экологии, научный руководитель Беленко В.В.)</p>
            <p>ЛАПИН Иван (картографический факультет, научный руководитель Загребин Г.И.)</p>
            <p>КОМОВА Александра (картографический факультет, научный руководитель Загребин Г.И.)</p>
        </div>
    </div>
</div>
{% endblock %}