{% extends 'main/layout.html' %}
{% load static %}
{% block style1 %}
<link rel="stylesheet" href="{% static 'css/team.css' %}">
{% endblock %}
{% block content %}
<div class="container-1">
    <div class="content">
        <div class="title">
            <h1>Команда проекта:</h1>
        </div>
        {% for el in team %}
            <div class="team_item">
                <div class="photo">
                    <img src="{{ el.photo_members.url }}">
                </div>
                <div class="info">
                    <h2>{{ el.members_name }}</h2>
                    <p>{{ el.role_member }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}