*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

body{
    margin:0;
    padding:0;
    font-family: 'PT Sans', sans-serif;
    background-color: #EDEDED;
}

h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}

p{
    font-size: 22px;
}

h1{
    font-size: 26px;
}

.admin_title{
    text-align: center;
    margin-bottom: 20px;
}

.form_group{
    margin-bottom: 12px;
}

.classic_label, .form_group input {
      display: block;
      width: 100%;
}

.classic_label {
    margin-bottom: 3px;
    font-size: 18px;
}

.form_group input {
    padding: 10px;
    border: 2px solid #000072;
    border-radius: 4px;
    background-color: #f8f8f8;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #000072;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
.add_file{
    width: 0.1 px;
    height: 0.1 px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.add_file + label{
    color: white;
    background-color: #000072;
    cursor: pointer;
    border-radius: 4px;
    padding: 15px;
}
.add_button{
    background-color: #000072;
    border: none;
    border-radius: 4px;
    padding: 5px;
}
.add_title p{
    font-size: 18px;
}
.add_title{
   margin: auto 0;
}
.add_item{
    display: flex;
    justify-content: start;
    gap: 10px;
}
.partners_items{
    box-sizing: border-box;
    display: block;
}
.exp_btn{
    background-color: #000072;
    border-radius: 4px;
    color: white;
    border: none;
    padding: 15px;
}
.save_exp_btn{
    text-align: center;
}

.admin_item{
    display: flex;
    justify-content: space-between;
    background-color: #C9C9C9;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
    align-items: center;
}

.admin_item:hover{
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}

.admin_item_button{
    display: flex;
    justify-content: start;
    gap: 10px;
    border: solid black 2px;
    padding: 2px;
}

.admin_item_button:hover{
    background-color: #B7B7B7;
}

.black:hover{
    color: black;
    text-decoration: none;
}

.admin_add_button{
    display: flex;
    justify-content: start;
    gap: 10px;
    background-color: #000072;
    border-radius: 4px;
    color: white;
    padding: 5px;
    align-items: center;
}

.admin_exp_up{
    display: grid;
    grid-template-columns: 55px auto 275px;
    margin-bottom: 25px;
}

.admin_news_up{
    display: grid;
    grid-template-columns: 55px auto 235px;
    margin-bottom: 25px;
}

.admin_news_up h1{
    margin: auto auto;
}

.admin_events_up{
    display: grid;
    grid-template-columns: 55px auto 291px;
    margin-bottom: 25px;
}

.admin_events_up h1{
    margin: auto auto;
}

.admin_exp_up h1{
    margin: auto auto;
}

.admin_exp_main_item{
    display: flex;
    justify-content: space-between;
    background-color: #C9C9C9;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
    align-items: center;
}

.admin_exp_main_item:hover{
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}

.exp_checkbox{
    display: flex;
    justify-content: start;
    gap: 7px;
    align-items: center;
}

.exp_checkbox input{
    height: 30px;
    width: 30px;
}

.admin_exp_items_title{
    display: grid;
    grid-template-columns: 55px auto;
    margin-bottom: 25px;
}

.admin_exp_items_title h1{
    margin: auto auto;
}
