*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

body{
    margin:0;
    padding:0;
    font-family: 'PT Sans', sans-serif;
    background-color: #EDEDED;
}

h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}

.container{
    width: 1290px;
    margin: 30px auto 30px auto;
    background-color: white;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 4px;
}

p{
    font-size: 24px;
}

h1{
    font-size: 26px;
}

.title{
    text-align: center;
    margin-bottom: 20px;
}

.button_1{
    background-color: #C9C9C9;
    padding: 15px;
    width: calc((100% / 3) - 2%);
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
.button_2{
    background-color: #C9C9C9;
    padding: 15px;
    width: calc((100% / 3) - 2%);
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.buttons_1{
    display: flex;
    justify-content: center;
    gap: 1%;
    overflow: hidden;
    flex-wrap: wrap;
}
.buttons_2{
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-bottom: 15px;;
}

.exp_title{
    text-align: center;
    margin-bottom: 10px;
}

.exp_title p{
    font-size: 26px;
}

.exp_text p{
    color: #828282;
}

.photo{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    align-items:flex-start;
    margin-bottom: 15px;
    object-fit: cover;
}
.exp_text{
    margin-bottom: 15px;
}
.photo img{
    width: 590px;
    margin-bottom: 1%;
}
.iframe_video{
    width: 590px;
    height: 345px;
}
.video{
    text-align: center;
    margin-bottom: 15px;
}
.partner{
    height: 150px;
    object-fit: cover;
}
.patners_btn{
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 2;
    margin-top: -20px;
    background: transparent;
}
.partners{
    position: relative;
    background-color: #C9C9C9;
    border-radius: 4px;
    padding: 20px;
}
.partners_navigation{
    display: flex;
}

.patners_btn_prev{
    left: -40px;
    margin-left: 20px;
}

.patners_btn_next{
    right: -40px;
    margin-right: 20px;
}
.partners-slider{
    text-align: center;
}

.partner_title{
    text-align: center;
    margin-bottom: 10px;
}

@media screen and (max-width: 767px){
    p{
        font-size: 42px;
    }
    
    h1{
        font-size: 46px;
    }
    .exp_title p{
        font-size: 44px;
    }
    .buttons_1{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .buttons_2{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .button_1{
        background-color: #C9C9C9;
        padding: 15px;
        width: 60%;
        margin-bottom: 10px;
        border-radius: 4px;
        text-align: center;
        cursor: pointer;
    }
    .button_2{
        background-color: #C9C9C9;
        padding: 15px;
        width: 60%;
        margin-bottom: 10px;
        border-radius: 4px;
        text-align: center;
        cursor: pointer;
    }
    .photo{
        display: flex;
        flex-direction: column;
        align-items: center;
        object-fit: cover;
    }
    .photo img{
        width: 100%;
        margin-bottom: 1%;
    }
    .iframe_video{
        width: 80%;
        height: 525px;
    }
    .partner_title h1{
        font-size: 42px;
    }
    .partner{
        height: 200px;
        object-fit: cover;
    }

}