*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

body{
    margin:0;
    padding:0;
    font-family: 'PT Sans', sans-serif;
    background-color: #EDEDED;
}

h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}



p{
    font-size: 22px;
}

h1{
    font-size: 26px;
}

.title{
    text-align: center;
    margin-bottom: 20px;
}

.button_1{
    background-color: #C9C9C9;
    padding: 15px;
    width: calc((100% / 3) - 2%);
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
.button_1:hover{
    color: black;
}

.button_2{
    background-color: #C9C9C9;
    padding: 15px;
    width: calc((100% / 3) - 2%);
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
.button_2:hover{
    color: black;
}

.buttons_1{
    display: flex;
    justify-content: center;
    gap: 1%;
    overflow: hidden;
    flex-wrap: wrap;
}
.buttons_2{
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-bottom: 15px;;
}

.exp_title{
    text-align: center;
    margin-bottom: 10px;
}

.exp_title p{
    font-size: 26px;
}

.exp_text p{
    color: #828282;
}

.photo{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    align-items:flex-start;
    margin-bottom: 15px;
    object-fit: cover;
}
.exp_text{
    margin-bottom: 15px;
}
.photo img{
    width: 590px;
    margin-bottom: 1%;
}
.iframe_video{
    width: 590px;
    height: 345px;
}
.video{
    text-align: center;
    margin-bottom: 15px;
}
.partner{
    height: 150px;
    width: 150px;
    object-fit: cover;
}
.patners_btn{
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 2;
    margin-top: -20px;
    background: transparent;
}
.partners{
    position: relative;
    background-color: #C9C9C9;
    border-radius: 4px;
    padding: 20px;
}
.partners_navigation{
    display: flex;
}

.patners_btn_prev{
    left: -40px;
    margin-left: 20px;
}

.patners_btn_next{
    right: -40px;
    margin-right: 20px;
}
.partners-slider{
    text-align: center;
}

.partner_title{
    text-align: center;
    margin-bottom: 10px;
}

@media screen and (max-width: 1399px){
    .photo img{
        width: 520px;
        margin-bottom: 1%;
    }
}
@media screen and (max-width: 1199px){
    .photo img{
        width: 430px;
        margin-bottom: 1%;
    }
    .partner{
        height: 120px;
        width: 120px;
        object-fit: cover;
    }
}

@media screen and (max-width: 1000px){
    .photo img{
        width: 400px;
        margin-bottom: 1%;
    }
    .partner{
        height: 100px;
        width: 100px;
        object-fit: cover;
    }
    p{
        font-size: 20px;
    }
    h1{
        font-size: 24px;
    }
    .exp_title p{
        font-size: 24px;
    }
}

@media screen and (max-width: 992px){
    .photo img{
        width: 315px;
        margin-bottom: 1%;
    }
    .partner{
        height: 90px;
        width: 90px;
        object-fit: cover;
    }
    p{
        font-size: 16px;
    }
    h1{
        font-size: 22px;
    }
    .exp_title p{
        font-size: 22px;
    }
}

@media screen and (max-width: 796px){
    .photo img{
        width: 314px;
        margin-bottom: 1%;
    }
    p{
        font-size: 16px;
    }
}
@media screen and (max-width: 773px){
    .photo img{
        width: 300px;
        margin-bottom: 1%;
    }
    p{
        font-size: 15px;
    }
}

@media screen and (max-width: 768px){
    p{
        font-size: 18px;
    }
    h1{
        font-size: 24px;
    }
    .exp_title p{
        font-size: 24px;
    }
    .buttons_1{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .buttons_2{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .button_1{
        background-color: #C9C9C9;
        padding: 15px;
        width: 60%;
        margin-bottom: 10px;
        border-radius: 4px;
        text-align: center;
        cursor: pointer;
    }
    .button_2{
        background-color: #C9C9C9;
        padding: 15px;
        width: 60%;
        margin-bottom: 10px;
        border-radius: 4px;
        text-align: center;
        cursor: pointer;
    }
    .photo{
        display: flex;
        flex-direction: column;
        align-items: center;
        object-fit: cover;
    }
    .photo img{
        width: 100%;
        margin-bottom: 1%;
    }
    .iframe_video{
        width: 100%;
        height: 500px;
    }
    .partner_title h1{
        font-size: 24px;
    }
    .partner{
        height: 100px;
        width: 100px;
        object-fit: cover;
    }
}

@media screen and (max-width: 573px){
    p{
        font-size: 16px;
    }
    h1{
        font-size: 22px;
    }
    .exp_title p{
        font-size: 22px;
    }
    .iframe_video{
        width: 100%;
        height: 100%;
    }
    .button_1{
        padding: 10px;
        width: 70%;
    }
    .button_2{
        padding: 10px;
        width: 70%;
    }
    .partner_title h1{
        font-size: 22px;
    }
    .partner{
        height: 90px;
        width: 90px;
        object-fit: cover;
    }
}

@media screen and (max-width: 573px){
    p{
        font-size: 16px;
    }
    h1{
        font-size: 22px;
    }
    .exp_title p{
        font-size: 22px;
    }
    .iframe_video{
        width: 100%;
        height: 100%;
    }
    .button_1{
        padding: 10px;
        width: 100%;
    }
    .button_2{
        padding: 10px;
        width: 100%;
    }
    .partner_title h1{
        font-size: 22px;
    }
    .partner{
        height: 80px;
        width: 80px;
        object-fit: cover;
    }
    .partner_arrow{
        width: 60px;
        height: 60px;
    }
    .patners_btn{
        margin-top: -15px;
    }
}