*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

body{
    margin:0;
    padding:0;
    font-family: 'PT Sans', sans-serif;
    background-color: #EDEDED;
}

h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}


p{
    font-size: 20px;
}

h1{
    font-size: 26px;
}
h2{
    font-size: 24px;
}
.title{
    text-align: center;
    margin-bottom: 20px;
}

.news_item {
    display: flex;
    justify-content: start;
    gap: 2%;
    margin-bottom: 25px;
}
.photo img{
    width: 300px;
}

.info h2{
    color: #000072;
}

.info p{
    color: #828282;
}
@media screen and (max-width: 1200px){
    .photo img{
        width: 270px;
    }
    p{
        font-size: 18px;
    }
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 22px;
    }
}
@media screen and (max-width: 1000px){
    .photo img{
        width: 240px;
    }
}

@media screen and (max-width: 767px){
    p{
        font-size: 16px;
    }
    
    h1{
        font-size: 22px;
    }
    h2{
        font-size: 20px;
    }
    .photo img{
        width: 200px;
    }
}
@media screen and (max-width: 520px){
    p{
        font-size: 14px;
    }

    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
    .photo img{
        width: 170px;
    }
}
@media screen and (max-width: 420px){
    p{
        font-size: 12px;
    }

    h1{
        font-size: 18px;
    }
    h2{
        font-size: 16px;
    }
    .photo img{
        width: 140px;
    }
}