*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

body{
    margin:0;
    padding:0;
    font-family: 'PT Sans', sans-serif;
    background-color: #EDEDED;
}

h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}



p{
    font-size: 24px;
}

h1{
    font-size: 26px;
}
.title{
    text-align: center;
    margin-bottom: 20px;
}

.news_item {
    display: flex;
    justify-content: start;
    gap: 2%;
    margin-bottom: 25px;
}
.photo img{
    width: 300px;
}

.info h2{
    color: #000072;
}

.info p{
    color: #828282;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

@media screen and (max-width: 767px){
    p{
        font-size: 42px;
    }
    
    h1{
        font-size: 46px;
    }
    h2{
        font-size: 44px;
    }
    .photo img{
        width: 500px;
    }
}