*{
    box-sizing: border-box;
}

.photo_page{
    background-color: #EDEDED;

}

.container.container-1{
    background-color:white;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 40px;
    border-radius: 5px;
    box-shadow: -1px 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.container .img-container{
display:flex;
justify-content:center;
align-items:center;
flex-wrap:wrap;
gap:25px;
}

.container .img-container .img{
width:365px;
height:250px;

overflow:hidden;
border-radius:4px;
}

.container .img-container .img img{
width:100%;
height:100%;
object-fit:cover;
cursor:pointer;
transition:.5s;
}

.container .img-container .img:hover img{
transform:scale(1.1);
}

.container .pop-up{
position:fixed;
top:0;
left:0;
height:100%;
width:100%;
background:rgba(0,0,0,.8);
display:none;
z-index:10;
}

.container .pop-up img{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:700px;
border-radius:4px;
}

.container .pop-up span {
    position: fixed;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: 900;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.text-publications{
    text-align: center;
    font-weight:700;
    margin-bottom: 10px;
}

.text-publications-day{
    margin-left: 16px;
    margin-bottom:10px;
}



@media (max-width:768px) {
    .container .pop-up img {
        width: 95%;
    }
}

.custom-button-text{
width:100px;

}

.custom-button{
width:100%;
height:77px;
background-color:#000072;
color:white;
border-radius:4px;
}

