*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

body{
    margin:0;
    padding:0;
    font-family: 'PT Sans', sans-serif;
    background-color: #EDEDED;
}

h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}


p{
    font-size: 20px;
}

h1{
    font-size: 26px;
}
h2{
    font-size: 24px;
}
.title{
    text-align: center;
    margin-bottom: 20px;
}

.team_item{
    display: flex;
    justify-content: start;
    gap: 2%;
    margin-bottom: 25px;
}

.photo img{
    width: 190px;
    height: 190px;
}
.team_other{
    margin-left: calc(190px + 2%);
    margin-bottom: 25px;
}
@media screen and (max-width: 1200px){
    .photo img{
        width: 160px;
        height: 160px;
    }
    .team_other{
        margin-left: calc(160px + 2%);
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 1000px){
    .photo img{
        width: 140px;
        height: 140px;
    }
    p{
        font-size: 18px;
    }
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 22px;
    }
    .team_other{
        margin-left: calc(140px + 2%);
        margin-bottom: 25px;
    }
}


@media screen and (max-width: 768px){
    p{
        font-size: 18px;
    }
    
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 22px;
    }
    .photo img{
        width: 130px;
        height: 130px;
    }
    .team_other{
        margin-left: calc(130px + 2%);
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 520px){
    p{
        font-size: 16px;
    }

    h1{
        font-size: 22px;
    }
    h2{
        font-size: 20px;
    }
    .photo img{
        width: 110px;
        height: 110px;
    }
    .team_other{
        margin-left: calc(110px + 2%);
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 420px){
    p{
        font-size: 14px;
    }

    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
    .photo img{
        width: 100px;
        height: 100px;
    }
    .team_other{
        margin-left: calc(100px + 2%);
        margin-bottom: 25px;
    }
}